*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 500px;
    border-color: red;
    border-style: solid;
}
.calc-body{
    background-color:aqua;
    height: 300px;
    width:30%;
    display: flex;
    flex-direction: column;
    border-color: red;
    border-style: solid;
}
.Screen{
    display: flex;
    flex-direction: column;
    background-color: grey;
    height:20%;
    width:100%;
    align-items: flex-end;
    border-color: red;
    border-style: solid;
}
.clear{
    display: flex;
    justify-content:center;
    border-color: red;
    border-style: solid;
}
.Input-Container{
    display: flex;
    justify-content: center;
    border-color: red;
    border-style: solid;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    border-color: red;
    border-style: solid;
}
.nums{
    display: flex;
    flex-direction: column;
    border-color: red;
    border-style: solid;
}
.top{
    display: flex;
    flex-direction: row;
}
.middle{
    display: flex;
    flex-direction: row;
}
.bottom{
    display: flex;
    flex-direction: row;
}
.final{
    display: flex;
    flex-direction: row;
}
.Operators{
    width: 20px;
    border-style: solid;
    border-color: red;
}
.btns{
    width: 300px;
    height: 300px;
}