.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calc-body{
    background-color:aqua;
    height: 100%;
    width:30%;
    display: flex;
    flex-direction: column
}
.Screen{
    display: flex;
    flex-direction: column;
    background-color: grey;
    height:20%;
    width:100%;
    align-items: flex-end;
}
.clear{
    display: flex;
}
.Input-Container{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}
.nums{
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    flex-direction: row;
}
.middle{
    display: flex;
    flex-direction: row;
}
.bottom{
    display: flex;
    flex-direction: row;
}
.final{
    display: flex;
    flex-direction: row;
}