.calc-body{
    background-color:aqua;
    height: 100%;
    display: flex;
    flex-direction: column
}
.Screen{
    display: flex;
    flex-direction: column;
    background-color: grey;
    height:20%;
    width:100%;
    align-items: flex-end;
}
.Input-Container{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 10%;
}